@page "/404"

<PageTitle>页面不存在 - Zero72 后台</PageTitle>

<section class="empty-state">
    <h1>页面不存在</h1>
    <p>这个管理页面没有找到。</p>
    <NavLink class="button-primary" href="">返回文章列表</NavLink>
</section>
